<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>joinMember</servlet-name>
		<display-name>joinMember</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.joinMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginChk</servlet-name>
		<display-name>loginChk</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.loginChk</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logOut</servlet-name>
		<display-name>logOut</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.logOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>myPageUpdate</servlet-name>
		<display-name>myPageUpdate</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.myPageUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TimeController</servlet-name>
		<display-name>TimeController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.TimeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>usingController</servlet-name>
		<display-name>usingController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.usingController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>bookLaundryController</servlet-name>
		<display-name>bookLaundryController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.bookLaundryController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DateController</servlet-name>
		<display-name>DateController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.DateController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>selectReservationDetails</servlet-name>
		<display-name>selectReservationDetails</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.selectReservationDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>secessionMember</servlet-name>
		<display-name>secessionMember</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.secessionMember</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteReservation</servlet-name>
		<display-name>deleteReservation</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.deleteReservation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>selectReservationList</servlet-name>
		<display-name>selectReservationList</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.selectReservationList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberEmailCheck</servlet-name>
		<display-name>MemberEmailCheck</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.MemberEmailCheck</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reqBoardInsert</servlet-name>
		<display-name>reqBoardInsert</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.reqBoardInsert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Review_DeleteController</servlet-name>
		<display-name>Review_DeleteController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.Review_DeleteController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Review_ViewController</servlet-name>
		<display-name>Review_ViewController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.Review_ViewController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Review_ViewUserController</servlet-name>
		<display-name>Review_ViewUserController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.Review_ViewUserController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Review_WriteController</servlet-name>
		<display-name>Review_WriteController</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.Review_WriteController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>replyInsert</servlet-name>
		<display-name>replyInsert</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.replyInsert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>replyUpdate</servlet-name>
		<display-name>replyUpdate</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.replyUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>replyDelete</servlet-name>
		<display-name>replyDelete</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.replyDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reqBoardUpdate</servlet-name>
		<display-name>reqBoardUpdate</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.reqBoardUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reqBoardDelete</servlet-name>
		<display-name>reqBoardDelete</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.reqBoardDelete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginDChk</servlet-name>
		<display-name>loginDChk</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.loginDChk</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NonUserReview</servlet-name>
		<display-name>NonUserReview</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.NonUserReview</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RV2</servlet-name>
		<display-name>RV2</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.RV2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reqBoardPaging</servlet-name>
		<display-name>reqBoardPaging</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.reqBoardPaging</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteReservation1</servlet-name>
		<display-name>deleteReservation1</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.deleteReservation1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>adminReviewPaging</servlet-name>
		<display-name>adminReviewPaging</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.adminReviewPaging</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>deleteReview</servlet-name>
		<display-name>deleteReview</display-name>
		<description></description>
		<servlet-class>com.clearing.controller.deleteReview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteReview</servlet-name>
		<url-pattern>/deleteReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminReviewPaging</servlet-name>
		<url-pattern>/adminReviewPaging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reqBoardPaging</servlet-name>
		<url-pattern>/reqBoardPaging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reqBoardDelete</servlet-name>
		<url-pattern>/reqBoardDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reqBoardUpdate</servlet-name>
		<url-pattern>/reqBoardUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>replyDelete</servlet-name>
		<url-pattern>/replyDelete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>replyUpdate</servlet-name>
		<url-pattern>/replyUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>replyInsert</servlet-name>
		<url-pattern>/replyInsert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>joinMember</servlet-name>
		<url-pattern>/joinMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginChk</servlet-name>
		<url-pattern>/loginChk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logOut</servlet-name>
		<url-pattern>/logOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myPageUpdate</servlet-name>
		<url-pattern>/myPageUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimeController</servlet-name>
		<url-pattern>/TimeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>usingController</servlet-name>
		<url-pattern>/usingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bookLaundryController</servlet-name>
		<url-pattern>/bookLaundryController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DateController</servlet-name>
		<url-pattern>/DateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>selectReservationDetails</servlet-name>
		<url-pattern>/selectReservationDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>secessionMember</servlet-name>
		<url-pattern>/secessionMember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteReservation</servlet-name>
		<url-pattern>/deleteReservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>selectReservationList</servlet-name>
		<url-pattern>/selectReservationList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberEmailCheck</servlet-name>
		<url-pattern>/MemberEmailCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reqBoardInsert</servlet-name>
		<url-pattern>/reqBoardInsert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Review_DeleteController</servlet-name>
		<url-pattern>/Review_DeleteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Review_ViewController</servlet-name>
		<url-pattern>/Review_ViewController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Review_ViewUserController</servlet-name>
		<url-pattern>/Review_ViewUserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Review_WriteController</servlet-name>
		<url-pattern>/Review_WriteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginDChk</servlet-name>
		<url-pattern>/loginDChk</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NonUserReview</servlet-name>
		<url-pattern>/NonUserReview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>deleteReservation1</servlet-name>
		<url-pattern>/deleteReservation1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RV2</servlet-name>
		<url-pattern>/RV2</url-pattern>
	</servlet-mapping>
</web-app>
